:root {
    --total: 4;
}

#appSquare {
    background-color: white;
    border: 1px solid rgba(242, 242, 242, 0.38);
}

#app {
    background-color: red;
    width: fit-content;
    height: 500px;
    margin: auto;
}

#grid {
    background-color: black;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(var(--total),1fr);
    grid-template-rows: repeat(var(--total),1fr);
}

#controlDiv {
    padding: 5px;
    margin: auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 80%;
    min-width: 500px;
}

button {
    width: 23%;
    height: 50px;
    margin: 5px;
}

footer {
    text-align: center;
}

h1 {
    text-align: center;
}